/* import fonts  */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/* project variables  */

:root {
  --primary-color: hsl(25, 97%, 53%);
  --neutral-color--white: hsl(0, 0%, 100%);
  --neutral-color--lightGrey: hsl(217, 12%, 63%);
  --neutral-color--mediumGrey: hsl(216, 12%, 54%);
  --neutral-color--darkGrey: hsl(216, 12%, 25%);
  --neutral-color--darkBlue: hsl(213, 19%, 18%);
  --neutral-color--veryDarkBlue: hsl(216, 12%, 8%);
  --card-padding: 1em;
}

/* reset styles  */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* basic body styles  */

body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--neutral-color--veryDarkBlue);
  color: var(--neutral-color--mediumGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 1.6rem;
  color: var(--neutral-color--white);
}

/* card styles  */

.card {
  width: clamp(300px, 90%, 375px);
  height: 375px;
  background-color: var(--neutral-color--darkBlue);
  padding: 1.4em;
  border-radius: 1em;
  margin: 1.5em;
}

.card-start > *:not(:last-child),
.card-thankYou > *:not(:last-child) {
  margin-bottom: 1rem;
}

/* card start styles  */
.card-start__icon {
  display: inline-block;
  padding: 0.8em;
  background-color: var(--neutral-color--darkGrey);
  border-radius: 50%;
}

/* card thank you styles  */

.card-thankYou {
  text-align: center;
}

.card-thankYou__rating {
  background-color: var(--neutral-color--darkGrey);
  color: var(--primary-color);
  width: max-content;
  padding: 0.5em 1em;
  border-radius: 20px;
  margin: auto;
}

.card-thankYou__heading {
  margin: 1em;
}

/* form styles  */

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

input[type="button"] {
  border: none;
  height: 45px;
  width: 45px;
  background-color: var(--neutral-color--darkGrey);
  color: var(--neutral-color--mediumGrey);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 2em;
}
input[type="submit"] {
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 40px;
  padding: 1em;
  text-transform: uppercase;
  color: var(--neutral-color--white);
  letter-spacing: 4px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: var(--neutral-color--lightGrey);
  color: var(--neutral-color--white);
}

input[type="button"]:active,
input[type="button"]:focus {
  background-color: var(--primary-color);
  color: var(--neutral-color--white);
}

input[type="submit"]:hover {
  background-color: var(--neutral-color--white);
  color: var(--primary-color);
}

/* footer styles  */

footer {
  padding: 2em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* utility class */

.d-none {
  display: none;
}
